@import url(./animacoes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
--azul-escuro: #0E1225;
--azul-claro: #213977;
--branco: #D8D9DF; 
--hover: rgb(51, 100, 227, 58%);
--background-card: rgb(33, 57, 119, 0.5);
--sombra: rgba(31, 32, 34, 0.39);

--margin-32: 32px;
--margin-16: 16px;
--margin-8: 8px;
}

body {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

a {
    text-decoration: none;
    color: var(--branco);
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
}

.bloco-1 .bloco-one-image img{
    width: 15rem;
    margin-bottom: var(--margin-16);
}

.bloco-1 .bloco-one-texts h1 {
    font-size: 2rem;
    margin-bottom: var(--margin-16);
}

.bloco-2 .bloco-two-texto {
    font-size: 1.3rem;
    margin-bottom: var(--margin-16);
    text-align: center;
}

.bloco-2 .bloco-two-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "card-0 card-0 card-3 card-3"
    "card-1 card-2 card-3 card-3";
    gap: 10px;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: var(--margin-32);
}

.bloco-2 .bloco-two-grid > div {
    background-color: var(--background-card);
    border: 2px solid var(--azul-claro);
    padding: 20px;
    border-radius: 0.98rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.bloco-2 .bloco-two-grid > div:hover {
    background-color: var(--hover);
    box-shadow: 0 2px 2px var(--sombra);
    transition: 0.5s;
}

#card-0 {
    grid-area: card-0;
}

#card-1 {
    grid-area: card-1;
}

#card-2 {
    grid-area: card-2;
}

#card-3 {
    grid-area: card-3;
}

.bloco-2 .bloco-two-grid > div i {
    font-size: 2.5rem;
    margin-bottom: var(--margin-8);
}

.bloco-2 .bloco-two-grid > div p {
    font-size: 0.8rem;
    line-height: 1.5;
}

.footer {
    text-align: center;
}

.footer i {
    color: var(--azul-claro);
    margin-right: var(--margin-8);
}

/* ========= responsive =========== */

@media (max-width: 599px) {
    main {
        flex-direction: column;
        gap: 5rem;
    }

    .bloco-2 .bloco-two-grid {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card-0 card-0"
            "card-1 card-2"
            "card-3 card-3"
            "card-3 card-3";
        max-width: 500px;
    }

    .bloco-1 .bloco-one-texts h1 {
        text-align: center;
    }

    .bloco-1 .bloco-one-text p {
        text-align: center;
        font-size: 0.8rem;
    }

    .bloco-2 .bloco-two-texto {
        font-size: 1rem;
    }

    .footer {
        margin-bottom: var(--margin-32);
        font-size: 0.8rem;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    main {
        gap: 10rem;
        flex-direction: column;
    }

    .footer {
        margin-bottom: var(--margin-32);
        font-size: 0.9rem;
    }

    .bloco-1 .bloco-one-texts h1 {
        text-align: center;
    }

    .bloco-1 .bloco-one-text p {
        text-align: center;
        font-size: 0.8rem;
    }

    .bloco-2 .bloco-two-texto {
        font-size: 1rem;
    }
}